corengs-src

# Just in case a catostrophy happens
bin
cddl
contrib
crypto
etc
gnu
include
kerberos5
lib
libexec
release
rescue
sbin
secure
share
stand
sys
targets
tools
usr.bin
usr.sbin
*.inc
*.inc1
*.libcompat
RELNOTES
UPDATING
COPYRIGHT
MAINTAINERS
*.md
Makefile
*.mk